@tailwind base;
@tailwind components;
@tailwind utilities;

/* Aplicamos los estilos base a toda la página */
@layer base {
  html {
    /* Esto hace que los enlaces "#" (como los nuestros) se desplacen suavemente */
    scroll-behavior: smooth;
  }
  body {
    /* 1. El color base sigue siendo nuestro marfil.
      2. El "background-image" es el ruido. Es un SVG minúsculo definido aquí mismo.
      3. 'background-size: 70px 70px' hace que el ruido sea muy fino.
      4. 'opacity: 0.3' lo hace casi invisible.
    */
    background-color: theme('colors.ivory');
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='70' height='70' viewBox='0 0 70 70'%3E%3Cfilter id='noise'%3E%3CfeTurbulence type='fractalNoise' baseFrequency='0.8' numOctaves='3' stitchTiles='stitch'/%3E%3C/filter%3E%3Crect width='100%25' height='100%25' filter='url(%23noise)' opacity='0.05'/%3E%3C/svg%3E");

    @apply text-night-gray font-sans; /* Aplicamos el resto de estilos de Tailwind */
  }

  /* Todos los títulos usarán la fuente Serif por defecto */
  h1, h2, h3, h4, h5, h6 {
    @apply font-serif;
  }
}