---
const currentYear = new Date().getFullYear();
---

<footer class="border-t border-light-gray">
  <div class="mx-auto max-w-7xl overflow-hidden px-6 py-12 lg:px-8">
    <p class="text-center text-xs leading-5 text-night-gray/60">
      &copy; {currentYear} Kairós. Todos los derechos reservados.
    </p>
  </div>
</footer>